<br><br><h1 class="text-center">Teams invitations</h1><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Team name</th>
        <th>State</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'users/notifications/notifications', locals: {notifications: current_user.notifications} %>
    </tbody>
  </table>
  <br>
</div>
<%= render 'users/responses/index' %>