<h1 class="text-center">Events invitations</h1><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date and Time</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <%= render partial: 'users/responses/responses', locals: {responses: current_user.responses} %>
    </tbody>
  </table>
  <br>
</div>
<%= link_to 'Back', users_home_welcome_path, class: "btn btn-default" %>