<h1 class="text-center">Events invitations</h1><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Team name</th>
        <th>Name</th>
        <th>Date and Time</th>
        <th>States</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <%= render partial: 'users/responses/responses', locals: {responses: current_user.responses} %>
    </tbody>
  </table>
  <br>
</div>
<div class="text-right"><%= link_to '', users_home_welcome_path, class: 'fa fa-arrow-circle-o-left fa-2x' %></div>