<% if current_user.events_future.empty? %>
    <h4>You don't have any new events</h4>
<% else %>
  <tbody>
    <%= render partial: 'users/responses/responses', locals: {responses: current_user.responses_two_week_future} %>
  </tbody>
<% end %>