<div class="text-center"><h3>Event</h3></div>
<table class="table table-bordered">
  <tbody>
    <%= render partial: 'users/responses/responses', locals: {responses: current_user.responses_last} %>
  </tbody>
</table>