<div class="form-newfield"><h1>Editing field</h1></div>

<%= render 'form' %>

<div class="form-newfield">
<%= link_to 'Show', owners_field_path(@field), class: "btn btn-info" %> |
<%= link_to 'Back', owners_fields_path, class: "btn btn-default" %>
</div>