<h1> Welcome Owners </h1>

<div class="row marketing">
  <div class="col-lg-6">
    <%= render partial: 'devise/sessions/form', locals: { resource: Owner.new, resource_name: :owner } %>
  </div>
  <div class="col-lg-6">
    <%= render partial: 'devise/registrations/form', locals: { resource: Owner.new, resource_name: :owner } %>
  </div>
</div>