<div class="starter-template"><h1 class="sub-header">Listing reserves</h1></div>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Date and Time</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td class="text-center"><%= link_to event.name, users_team_event_path(@team, event) %></td>
        <td class="text-center"><%= event.created_for %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><%= link_to 'Back', users_team_path(@team), class: "btn btn-default" %>