<div class="starter-template"><h1 class="sub-header">Listing reserves</h1></div>
<table class="table">
  <thead>
    <tr>
      <th><span class="text-size">Name</span></th>
      <th><span class="text-size">Date and Time</span></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><span class="text-size"><%= event.name %></span></td>
        <td><span class="text-size"><%= event.created_for %></span></td>
        <td><%= link_to 'Show', users_team_event_path(@team, event), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><%= link_to 'Back', users_team_path(@team), class: "btn btn-default" %>