<br><br>
<div class="form-newfield"><h1>Add reserve</h1></div>

<%= render 'form' %>

<div class="form-newfield">
  <div class="text-right"><%= link_to '', users_home_welcome_path, class: 'fa fa-arrow-circle-o-left fa-2x' %></div>
</div>