<div class="jumbotron">
  <h1>Hi <%= current_user.email %>!</h1>
  <p>Still you don't have a team or is not part of any. Create now a team to start!.</p>
  <br><br><p><%= link_to 'New Team', new_users_team_path, class: "btn btn-success" %></p>
</div>