<br><br><div class="text-center"><h1 class="sub-header"><%= @team.name %></h1></div><br>
<h2 class="text-center">Listing Players</h2><br><br>
<div class="col-md-4 column">
</div>
<div class="col-md-4 column">
  <table class="table">
    <thead>
      <tr>
        <th><span class="text-size">Mail</span></th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @team.users.each do |team_user| %>
        <tr>
          <td><span class="text-size"><%= team_user.email %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Show all reservations', users_team_events_path(@team), class: "btn btn-info" %>
  <%= link_to 'Back', users_home_welcome_path, class: "btn btn-default" %>
</div>
<div class="col-md-4 column">
</div>