<div class="starter-template"><h1 class="sub-header"><%= @team.name %></h1></div>
<h2 class="sub-header">Listing Players</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Mail</th>
      <th colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <% @team.users.each do |team_user| %>
        <tr>
          <td><%= team_user.email%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Reservation', users_team_events_path(@team), class: "btn btn-success" %> |
<%= link_to 'Back', users_teams_path, class: "btn btn-default" %>