/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

a:link {
  text-decoration: none;
}

.extend_label{
  @extend .label;
}

.canceled {
  @extend .extend_label;
  @extend .label-danger;
}

.accepted {
  @extend .extend_label;
  @extend .label-success;
}

.waiting {
  @extend .extend_label;
  @extend .label-warning;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: image-url('backgroundimage.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.fa-user{
  color: #269abc;
}

.fa-power-off{
  color: #730E15;
}

.fa-check{
  color: green;
}

.fa-times{
  color: red;
}

.stats{
  width: 100;
  height: 100;
}

.container-background{
  @extend .container;
  background-color: #ffffff;
}